# Dependencies
node_modules/
.pnpm-store/

# Build Outputs
dist/
build/

# Logs
logs/
*.log
npm-debug.log*

# Environment Variables
.env
.env.local
.env.*.local

# IDE & Editors
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

# Testing & Coverage
coverage/
.vitest/

# OS Files
.DS_Store
Thumbs.db